b {
  font-size: 35px;
}

Footer {
  text-align: center;
}

#small-div {
  height: 50px;
}

#med-div {
  height: 75px;
}

#big-div {
  height: 150px;
}

#centered-div {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#bender-title {
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 20px;
}

#users0 {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#users1 {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#users2 {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#users3 {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#users4 {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#users5 {
  display: flex;
  justify-content: center; 
  align-items: center;
}