#bender {
  font-size: 45px;
}

tr { 
  display: block; float: left; 
}

td { 
  display: block; 
}

Footer {
  text-align: center;
}

#small-div {
  height: 50px;
}

#med-div {
  height: 75px;
}

#big-div {
  height: 150px;
}

#centered-div {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#header-div {
  display: flex;
}

#bender-title {
  margin-bottom: 0;
  margin-top: auto;
  
}

#users0 {
  margin-left: auto; 
  margin-right: 0;
  bottom: 0;
}

#users1 {
  margin-left: auto; 
  margin-right: 0;
}

#users2 {
  margin-left: auto; 
  margin-right: 0;
}

#users3 {
  margin-left: auto; 
  margin-right: 0;
}

#users4 {
  margin-left: auto; 
  margin-right: 0;
}

#users5 {
  margin-left: auto; 
  margin-right: 0;
}